<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace指用户自定义的命名空间。 -->
<mapper namespace="top.chuqin.learn.mybatis.mapper.ClazzMapper">

    <resultMap id="clazzResultMap" type="clazz">
        <id property="id" column="id"></id>
        <result property="code" column="code"></result>
        <collection property="students" javaType="ArrayList"
                    column="id" ofType="student"
                    select="top.chuqin.learn.mybatis.mapper.StudentMapper.selectStudentByClazzId"
                    fetchType="lazy">
            <id property="id" column="id"></id>
            <result property="name" column="name"></result>
            <result property="sex" column="sex"></result>
            <result property="age" column="age"></result>
        </collection>
    </resultMap>

    <select id="selectClazzById" parameterType="int" resultMap="clazzResultMap">
        SELECT
            *
        FROM
            tb_clazz
        WHERE
            id = #{id}
    </select>


</mapper>