<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace指用户自定义的命名空间。 -->
<mapper namespace="top.chuqin.learn.mybatis.mapper.ConsumerMapper">
    
    <resultMap id="consumerResultMap" type="consumer">
        <id property="id" column="id"></id>
        <result property="username" column="username"></result>
        <collection property="orders" column="id" ofType="consumer"
                    fetchType="lazy"
                    javaType="ArrayList"
                    select="top.chuqin.learn.mybatis.mapper.OrderMapper.selectOrderByConsumerId">
            <id property="id" column="id"></id>
            <result property="total" column="total"></result>
        </collection>
    </resultMap>
    
    <select id="selectConsumerById" parameterType="int" resultMap="consumerResultMap">
        SELECT
          *
        FROM
          tb_consumer
        WHERE
          id = #{id}
    </select>


</mapper>