<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.chuqin.learn.mybatis.mapper.EmployeeMapper">


    <select id="selectEmployeeById"
            resultType="employee">
        SELECT
          *
        FROM
          tb_employee
        WHERE
          id = #{id}
    </select>

    <!-- if示例 -->
    <select id="selectEmployeeByIdLike"
            resultType="employee">
      SELECT
        *
      FROM
        tb_employee
      WHERE
        state = 'ACTIVE'
        <!-- 可选条件，如果传进来的参数有id属性，则加上id查询条件 -->
        <if test="id != null">
            and id = #{id}
        </if>
    </select>

    <!-- set示例 -->
    <update id="updateEmployeeIfNecessary" parameterType="employee">
        UPDATE
          tb_employee
        <set>
            <if test="loginname != null">
                loginname = #{loginname},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="age != null">
                age = #{age},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="sal != null">
                sal = #{sal},
            </if>
            <if test="state != null">
                state = #{state},
            </if>
        </set>
        WHERE
          id = #{id}
    </update>

    <!-- foreach示例 -->
    <select id="selectEmployeeIn" resultType="employee">
        SELECT
          *
        FROM
          tb_employee
        WHERE
          id
        IN
          <foreach collection="list" item="item" index="index"
                   open="(" separator="," close=")">
              #{item}
          </foreach>
    </select>

    <!-- bind示例 -->
    <select id="selectEmployeeLikeLoginname" resultType="employee">
        <bind name="pattern" value=" '%' + _parameter.get('loginname') + '%' "></bind>
        SELECT
          *
        FROM
          tb_employee
        WHERE
          loginname
        LIKE
          #{pattern}
    </select>

</mapper>