<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace指用户自定义的命名空间。 -->
<mapper namespace="top.chuqin.learn.mybatis.mapper.OrderMapper">

    <resultMap id="orderResultMap" type="order">
        <id property="id" column="id"></id>
        <result property="total" column="total"></result>
        <collection property="articles" javaType="ArrayList"
                    column="oid" ofType="article" fetchType="lazy"
                    select="top.chuqin.learn.mybatis.mapper.ArticleMapper.selectArticleByOrderId">
            <id property="id" column="id"></id>
            <result property="name" column="name"></result>
            <result property="price" column="price"></result>
        </collection>
    </resultMap>
    <select id="selectOrderByConsumerId" resultMap="orderResultMap">
      SELECT
        *
      FROM
        tb_consuer c ,
        tb_order o
      WHERE
        c.id = o.consumer_id
      AND
        o.id = #{id}
    </select>

</mapper>