<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace指用户自定义的命名空间。 -->
<mapper namespace="top.chuqin.learn.mybatis.mapper.PersonMapper">

    <resultMap id="personResultMap" type="person">
        <id property="id" column="id"></id>
        <result property="name" column="name"></result>
        <result property="sex" column="sex"></result>
        <result property="age" column="age"></result>

        <association property="card" column="card_id"
            select="top.chuqin.learn.mybatis.mapper.CardMapper.selectCardById"
            javaType="card"></association>

    </resultMap>

    <select id="selectPersonById" parameterType="int"
            resultMap="personResultMap">
        SELECT
          *
        FROM
          tb_person
        WHERE
          id = #{id}
    </select>
</mapper>